*{
    margin: 0;
    padding: 0;
    
}
body{
    font-family: tahoma;
        background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.4)),url(../IMG/Blend_S.png); 
    width: 100%; 
    height: 100%;
   
        background-position: center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 30px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    color: white;
    padding-bottom: 15px;
    
    
}

header{    
    height: auto;
    width: 100%;

    text-align: center;
     
}
header img{
    
    width: 110px;
    height: 110px;
}
header ul{    
 text-align: center;
    font-family: sans-serif;
    margin-bottom: 20px;
}


header ul li{
display: inline-block;
    padding: 25px;
    font-weight: bold;
    color: white;
   cursor: pointer;

}

header ul li a:hover{
    
    color: plum;
    border-bottom:2px solid plum; 
    transition: all 0.2s ease-in;   
    padding: 5px 0;
    
}
   

.imgs {
display: flex;
   justify-content: center;
   align-items: center;
    flex-direction: row;
    flex-wrap: wrap
    
}
.imgs img{
    width: 320px;
    height: 210px;
    padding: 5px; 
     transition: transform 0.2s;
}

.imgs img:hover{
    transform: scale(1.05);
    z-index: 100;
    cursor: pointer;
}

/*////////////////////RESPONSIVE//////////////////////*/

@media only screen and (max-width: 1340px)  {
.imgs img{
    width: 300px;
    height: 200px;
    padding: 5px; 
     transition: transform 0.2s;
}

    
}
@media only screen and (max-width: 1250px)  {
.imgs img{
    width: 260px;
    height: 170px;
    padding: 5px; 
     transition: transform 0.2s;
}

@media only screen and (max-width: 1100px)  {
.imgs img{
    width: 220px;
    height: 130px;
    padding: 5px; 
     transition: transform 0.2s;
}

@media only screen and (max-width: 950px)  {
.imgs img{
    width: 190px;
    height: 120px;
    padding: 5px; 
     transition: transform 0.2s;
    
}
        }
@media only screen and (max-width: 840px)  {
.imgs img{
    width: 170px;
    height: 110px;
    padding: 5px; 
    transition: transform 0.2s;}
                
        
        }

        
@media only screen and (max-width: 768px)  {
.imgs img{
    width: 250px;
    height: 160px;
    padding: 5px; 
    transition: transform 0.2s;}

        }

@media only screen and (max-width: 720px)  {
header ul{    
 text-align: center;
    margin-bottom: 20px;
    width: 60%;
    margin: auto;
     margin-bottom: 10px;
}


header ul li{
display: block;
    padding: 5px;
    font-weight: bold;
    color: white;
   cursor: pointer;  
    margin-bottom: 5px;
   
    border:3px solid plum; 
    border-radius: 50px;

}

header ul li:hover{
    
    color: plum;
    background-color: white;
    transition: all 0.2s ease-in;   
    padding: 10px 0;
    
}

header ul li a:hover{
    
border-bottom: none;
    
        }        
    }
    
 @media only screen and (max-width: 600px)  {
.imgs img{
    width: 205px;
    height: 115px;
    padding: 5px; 
    transition: transform 0.2s;
     }
 
    }
        
@media only screen and (max-width: 500px)  {
.imgs img{
    width: 195px;
    height: 115px;
    padding: 5px; 
    transition: transform 0.2s;}
                
        
        }
        
        
@media only screen and (max-width: 470px)  {
.imgs img{
    width: 175px;
    height: 100px;
    padding: 5px; 
    transition: transform 0.2s;}

        }
 
@media only screen and (max-width: 400px)  {
.imgs img{
    width: 220px;
    height: 140px;
    padding: 5px; 
    transition: transform 0.2s;}
 
        }